###################################################################
# Records to handle region definition for a given min and size    #
###################################################################

record(longout, "$(P)$(R)Min$(DIM)")
{
   field(PINI, "YES")
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))$(MIN_PARAM)")
   field(VAL,  "0")
   info(autosaveFields, "VAL")
}

record(longin, "$(P)$(R)Min$(DIM)_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))$(MIN_PARAM)")
   field(SCAN, "I/O Intr")
}

record(longout, "$(P)$(R)Size$(DIM)")
{
   field(PINI, "YES")
   field(DTYP, "asynInt32")
   field(OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))$(SIZE_PARAM)")
   field(VAL,  "1")
   info(autosaveFields, "VAL")
}

record(longin, "$(P)$(R)Size$(DIM)_RBV")
{
   field(DTYP, "asynInt32")
   field(INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))$(SIZE_PARAM)")
   field(SCAN, "I/O Intr")
}
